body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: left;
    text-align: h1 center ;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #575757;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1, {
    color: #ffffff;
    text-align: center;
}

h2, h3 {
    color: #000000;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #575757;
}